@import url("https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.drop-ie-gradient {
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
body {
  color: #34495e;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
a {
  color: #16a085;
  text-decoration: underline;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h1 {
  font-size: 32px;
  font-weight: 900;
}
h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
h6 {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}
.btn,
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: 14.994px;
  /* 15px */

  font-weight: 500;
}
.btn {
  border: none;
  background: #bdc3c7;
  color: #ffffff;
  padding: 9px 12px 10px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.btn:hover,
.btn:focus,
.btn-group:focus .btn.dropdown-toggle {
  background-color: #cacfd2;
  color: #ffffff;
  outline: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.btn:active,
.btn-group.open .btn.dropdown-toggle,
.btn.active {
  background-color: #a1a6a9;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.disabled,
.btn[disabled] {
  background-color: #bdc3c7;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.btn.btn-large {
  font-size: 16.996px;
  /* 17px */

  line-height: 20px;
  padding: 12px 18px 13px;
}
.btn.btn-large > [class^="fui-"] {
  top: 0;
}
.btn.btn-large > [class^="fui-"].pull-right {
  margin-right: -2px;
}
.btn.btn-primary {
  background-color: #1abc9c;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn-group:focus .btn.btn-primary.dropdown-toggle {
  background-color: #48c9b0;
}
.btn.btn-primary:active,
.btn-group.open .btn.btn-primary.dropdown-toggle,
.btn.btn-primary.active {
  background-color: #16a085;
}
.btn.btn-info {
  background-color: #3498db;
}
.btn.btn-info:hover,
.btn.btn-info:focus,
.btn-group:focus .btn.btn-info.dropdown-toggle {
  background-color: #5dade2;
}
.btn.btn-info:active,
.btn-group.open .btn.btn-info.dropdown-toggle,
.btn.btn-info.active {
  background-color: #2c81ba;
}
.btn.btn-danger {
  background-color: #e74c3c;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn-group:focus .btn.btn-danger.dropdown-toggle {
  background-color: #ec7063;
}
.btn.btn-danger:active,
.btn-group.open .btn.btn-danger.dropdown-toggle,
.btn.btn-danger.active {
  background-color: #c44133;
}
.btn.btn-success {
  background-color: #2ecc71;
}
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn-group:focus .btn.btn-success.dropdown-toggle {
  background-color: #58d68d;
}
.btn.btn-success:active,
.btn-group.open .btn.btn-success.dropdown-toggle,
.btn.btn-success.active {
  background-color: #27ad60;
}
.btn.btn-warning {
  background-color: #f1c40f;
}
.btn.btn-warning:hover,
.btn.btn-warning:focus,
.btn-group:focus .btn.btn-warning.dropdown-toggle {
  background-color: #f5d313;
}
.btn.btn-warning:active,
.btn-group.open .btn.btn-warning.dropdown-toggle,
.btn.btn-warning.active {
  background-color: #cda70d;
}
.btn.btn-inverse {
  background-color: #34495e;
}
.btn.btn-inverse:hover,
.btn.btn-inverse:focus,
.btn-group:focus .btn.btn-inverse.dropdown-toggle {
  background-color: #415b76;
}
.btn.btn-inverse:active,
.btn-group.open .btn.btn-inverse.dropdown-toggle,
.btn.btn-inverse.active {
  background-color: #2c3e50;
}
.btn > [class^="fui-"] {
  margin: 0 4px;
  position: relative;
  top: 1px;
  vertical-align: top;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.btn > [class^="fui-"].pull-right {
  margin-right: 0px;
}
.btn-toolbar .btn.active {
  color: #ffffff;
}
.btn-toolbar .btn:first-child {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.btn-toolbar .btn:last-child {
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}
.btn-toolbar .btn > [class^="fui-"] {
  font-size: 16px;
  top: 0;
}
.btn-tip {
  font-weight: 300;
  padding-left: 10px;
}
.btn-group > .btn {
  border-radius: 0;
  text-align: center;
}
.btn-group > .btn:active + .btn,
.btn-group > .btn.active + .btn {
  border-left-color: transparent;
}
.btn-group > .btn:first-of-type {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.btn-group > .btn:last-of-type {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.btn-group > .btn + .btn {
  margin-left: 0;
}
.btn-group > .btn + .dropdown-toggle {
  border-left: 2px solid rgba(52, 73, 94, 0.15);
  padding-left: 13px;
  padding-right: 13px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-group > .btn + .dropdown-toggle .caret {
  margin-left: 3px;
  margin-right: 3px;
}
.btn-group > .btn.btn-huge + .dropdown-toggle .caret {
  margin-left: 7px;
  margin-right: 7px;
}
.btn-group > .btn.btn-small + .dropdown-toggle .caret {
  margin-left: 0;
  margin-right: 0;
}
.caret {
  border-left-width: 6px;
  border-right-width: 6px;
  border-top-width: 8px;
  border-bottom-color: #34495e;
  border-style: solid;
  border-bottom-style: none;
  border-top-color: #34495e;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.dropup .caret,
.dropup .btn-large .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-bottom-width: 8px;
}
.btn-mini .caret,
.btn-small .caret,
.btn-large .caret {
  margin-top: 7px;
}
.btn-large .caret {
  border-top-width: 8px;
  border-right-width: 6px;
  border-left-width: 6px;
}
.navbar {
  font-size: 15.988px;
  /* 16px */

}
.navbar .brand {
  border-radius: 6px 0 0 6px;
  color: #526476;
  font-size: 23.996px;
  /* 24px */

  font-weight: 700;
  margin-left: 0;
  padding: 23px 28px 24px 32px;
  text-shadow: none;
}
.navbar .brand:hover,
.navbar .brand:focus {
  color: #1abc9c;
}
.navbar .brand[class*="fui-"] {
  font-weight: normal;
}
.navbar .nav {
  margin-right: 0;
}
.navbar .nav > li {
  position: relative;
}
.navbar .nav > li:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
  z-index: 100;
  -webkit-transform: scale(1, 1);
  display: block\9;
}
.navbar .nav > li.active > a,
.navbar .nav > li.active > a:hover,
.navbar .nav > li.active > a:focus {
  background: none;
  color: #1abc9c;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar .nav > li > ul {
  padding-top: 13px;
  top: 80%;
}
.navbar .nav > li > ul:before {
  content: "";
  border-style: solid;
  border-width: 0 9px 9px 9px;
  border-color: transparent transparent #34495e transparent;
  height: 0;
  position: absolute;
  left: 15px;
  top: 5px;
  width: 0;
  -webkit-transform: rotate(360deg);
}
.navbar .nav > li > ul li:hover ul {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  visibility: visible;
  display: block\9;
}
.navbar .nav > li > ul li ul {
  left: 100%;
}
.navbar .nav > li > a {
  color: #526476;
  font-weight: 700;
  font-size: 14.994px;
  /* 15px */

  padding: 29px 20px 27px;
  text-shadow: none;
  -webkit-transition: background-color .25s, color .25s, border-bottom-color .25s;
  -moz-transition: background-color .25s, color .25s, border-bottom-color .25s;
  -o-transition: background-color .25s, color .25s, border-bottom-color .25s;
  transition: background-color .25s, color .25s, border-bottom-color .25s;
  -webkit-backface-visibility: hidden;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  color: #1abc9c;
}
.navbar .nav > li > a[class*="fui-"] {
  font-size: 24px;
  font-weight: normal;
}
.navbar .nav > li > a > [class*="fui-"] {
  font-size: 24px;
  margin: -4px 0 0;
  position: relative;
  top: 4px;
}
.navbar .nav > li > a > [class*="fui-"] + * {
  margin-left: 12px;
}
.navbar .nav > li:first-child > a {
  -webkit-border-radius: 0 0 0 6px;
  -moz-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
}
.navbar .nav ul {
  border-radius: 4px;
  left: 0;
  list-style-type: none;
  margin-left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 234px;
  z-index: -100;
  -webkit-transform: scale(1, 0.99);
  -webkit-transform-origin: 0 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-backface-visibility: hidden;
}
.navbar .nav ul ul {
  left: 95%;
  padding-left: 5px;
}
.navbar .nav ul li {
  background-color: #34495e;
  padding: 0 3px 3px;
  position: relative;
}
.navbar .nav ul li:first-child {
  border-radius: 6px 6px 0 0;
  padding-top: 3px;
}
.navbar .nav ul li:last-child {
  border-radius: 0 0 6px 6px;
}
.navbar .nav ul li.active > a,
.navbar .nav ul li.active > a:hover,
.navbar .nav ul li.active > a:focus {
  background-color: #1abc9c;
  color: #ffffff;
  padding-left: 9px;
  padding-right: 9px;
}
.navbar .nav ul li.active + li > a {
  padding-left: 9px;
  padding-right: 9px;
}
.navbar .nav ul a {
  border-radius: 2px;
  color: #ffffff;
  display: block;
  font-size: 14px;
  padding: 6px 9px;
  text-decoration: none;
}
.navbar .nav ul a:hover {
  background-color: #1abc9c;
}
.navbar .btn-navbar {
  background: none;
  border: none;
  color: #34495e;
  margin: 21px 15px 17px;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus {
  background: none;
  color: #1abc9c;
}
.navbar .btn-navbar:before {
  content: "\e00c";
  font-family: "Flat-UI-Icons";
  font-size: 21.994px;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.navbar .btn-navbar .icon-bar {
  display: none;
}
.navbar-inner {
  background: #eceef0;
  border: none;
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar-inverse {
  font-size: 16.996px;
  /* 17px */

}
.navbar-inverse .navbar-inner {
  background: #34495e;
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.navbar-inverse .brand {
  border-bottom: 2px solid #2c3e50;
  border-right: 2px solid #2c3e50;
  color: #ffffff;
  padding: 10px 28px 11px 32px;
}
.navbar-inverse .btn-navbar {
  color: #ffffff;
  margin: 7px 10px;
}
.navbar-inverse .nav > li:first-child.active > a {
  padding-left: 20px;
}
.navbar-inverse .nav > li:first-child > a {
  border-left: none;
}
.navbar-inverse .nav > li.active > a,
.navbar-inverse .nav > li.active > a:hover,
.navbar-inverse .nav > li.active > a:focus {
  background-color: #1abc9c;
  border-bottom-color: #16a085;
  border-left: none;
  color: #ffffff;
  padding-left: 22px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar-inverse .nav > li.active + li > a {
  border-left: none;
  padding-left: 22px;
}
.navbar-inverse .nav > li > a {
  font-size: 16.002px;
  /* 16px */

  border-bottom: 2px solid #2c3e50;
  border-left: 2px solid #2c3e50;
  color: #ffffff;
  padding: 16px 20px 15px;
}
.navbar-inverse .nav.pull-right > li > a {
  border-radius: 0 6px 6px 0;
}
.navbar-unread,
.navbar-new {
  font-family: "Lato", sans-serif;
  background-color: #1abc9c;
  border-radius: 50%;
  color: #ffffff;
  font-size: 0;
  font-weight: 700;
  height: 6px;
  line-height: 14px;
  position: absolute;
  right: 12px;
  text-align: center;
  top: 28px;
  width: 6px;
  z-index: 10;
}
.active .navbar-unread,
.active .navbar-new {
  background-color: #ffffff;
  display: none;
}
.navbar-inverse .navbar-unread,
.navbar-inverse .navbar-new {
  top: 15px;
}
.navbar-new {
  background-color: #e74c3c;
  font-size: 12px;
  line-height: 17px;
  height: 18px;
  margin: -9px -1px;
  min-width: 16px;
  padding: 0 1px;
  width: auto;
  -webkit-font-smoothing: subpixel-antialiased;
}
.navbar.navbar-inverse .nav li.dropdown.open > .dropdown-toggle {
  background-color: #1abc9c;
  border-bottom-color: #16a085;
  color: #ffffff;
}
.navbar.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret {
  border-bottom-color: #ffffff !important;
  border-top-color: #ffffff !important;
}
.navbar .nav li.dropdown.open > .dropdown-toggle {
  background: none;
  color: #1abc9c;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret {
  border-bottom-color: #1abc9c !important;
  border-top-color: #1abc9c !important;
}
.navbar .nav li.dropdown.open .dropdown-menu {
  opacity: 1;
  top: 100%;
  visibility: visible;
  z-index: 1000;
  -webkit-transform: none;
}
.navbar .nav li.dropdown > .dropdown-toggle {
  outline: none;
}
.navbar .nav li.dropdown > .dropdown-toggle:hover .caret,
.navbar .nav li.dropdown > .dropdown-toggle:focus .caret {
  border-bottom-color: #1abc9c;
  border-top-color: #1abc9c;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-left-width: 6px;
  border-right-width: 6px;
  border-top-width: 8px;
  border-bottom-color: #4c6a89;
  border-top-color: #4c6a89;
  margin-left: 10px;
  margin-top: 7px;
}
.navbar .nav li.dropdown .dropdown-menu {
  background-color: #34495e;
  opacity: 0;
  padding: 0;
  visibility: hidden;
}
.navbar .nav li.dropdown .dropdown-menu:before {
  display: none;
}
.navbar .nav li.dropdown .dropdown-menu:after {
  border-bottom-color: #34495e;
}
.navbar .nav li.dropdown .dropdown-menu > li > a {
  border-radius: 3px;
  color: #ffffff;
  padding: 6px 8px 8px;
}
.navbar .nav li.dropdown .dropdown-menu .divider {
  background-color: #2c3e50;
  border-bottom: none;
  margin: 2px 0 5px;
  padding: 0;
  height: 2px;
}
.tile {
  background-color: #eff0f2;
  border-radius: 6px;
  padding: 14px;
  position: relative;
  text-align: center;
}
.tile.tile-hot:before {
  background: url(../images/tile/ribbon.png) 0 0 no-repeat;
  background-size: 82px 82px;
  content: '';
  height: 82px;
  position: absolute;
  right: -4px;
  top: -4px;
  width: 82px;
}
.tile p {
  font-size: 15px;
  margin-bottom: 33px;
}
.tile-image {
  height: 100px;
  margin: 31px 0 27px;
  vertical-align: bottom;
}
.tile-image.big-illustration {
  height: 111px;
  margin-top: 20px;
  width: 112px;
}
.tile-title {
  font-size: 20px;
  margin: 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {
  .tile.tile-hot:before {
    background-image: url(../images/tile/ribbon-2x.png);
  }
}
footer {
  background-color: #edeff1;
  color: #bac1c8;
  font-size: 15px;
  padding: 20px 0 0 0;
}
footer a {
  color: #9aa4af;
  text-decoration: none;
}
footer p {
  font-size: 15px;
  line-height: 20px;
}
.footer-title {
  margin: 0 0 22px;
  padding-top: 21px;
  font-weight: bold;
}
.footer-brand {
  display: block;
  margin-bottom: 26px;
  width: 220px;
}
.footer-brand img {
  width: 216px;
}
.footer-banner {
  background-color: #1abc9c;
  color: #d1f2eb;
  margin-left: 42px;
  min-height: 286px;
  padding: 0 30px 30px;
}
.footer-banner .footer-title {
  color: #ffffff;
}
.footer-banner a {
  color: #b7f5e9;
  text-decoration: underline;
}
.footer-banner a:hover {
  text-decoration: none;
}
.footer-banner ul {
  list-style-type: none;
  margin: 0 0 26px;
}
.footer-banner ul li {
  border-top: 1px solid #1bc5a3;
  line-height: 19px;
  padding: 6px 0;
}
.footer-banner ul li:first-child {
  border-top: none;
  padding-top: 1px;
}
.last-col {
  overflow: hidden;
}
.ptn,
.pvn,
.pan {
  padding-top: 0;
}
.ptx,
.pvx,
.pax {
  padding-top: 3px;
}
.pts,
.pvs,
.pas {
  padding-top: 5px;
}
.ptm,
.pvm,
.pam {
  padding-top: 10px;
}
.ptl,
.pvl,
.pal {
  padding-top: 20px;
}
.prn,
.phn,
.pan {
  padding-right: 0;
}
.prx,
.phx,
.pax {
  padding-right: 3px;
}
.prs,
.phs,
.pas {
  padding-right: 5px;
}
.prm,
.phm,
.pam {
  padding-right: 10px;
}
.prl,
.phl,
.pal {
  padding-right: 20px;
}
.pbn,
.pvn,
.pan {
  padding-bottom: 0;
}
.pbx,
.pvx,
.pax {
  padding-bottom: 3px;
}
.pbs,
.pvs,
.pas {
  padding-bottom: 5px;
}
.pbm,
.pvm,
.pam {
  padding-bottom: 10px;
}
.pbl,
.pvl,
.pal {
  padding-bottom: 20px;
}
.pln,
.phn,
.pan {
  padding-left: 0;
}
.plx,
.phx,
.pax {
  padding-left: 3px;
}
.pls,
.phs,
.pas {
  padding-left: 5px;
}
.plm,
.phm,
.pam {
  padding-left: 10px;
}
.pll,
.phl,
.pal {
  padding-left: 20px;
}
.mtn,
.mvn,
.man {
  margin-top: 0px;
}
.mtx,
.mvx,
.max {
  margin-top: 3px;
}
.mts,
.mvs,
.mas {
  margin-top: 5px;
}
.mtm,
.mvm,
.mam {
  margin-top: 10px;
}
.mtl,
.mvl,
.mal {
  margin-top: 20px;
}
.mrn,
.mhn,
.man {
  margin-right: 0px;
}
.mrx,
.mhx,
.max {
  margin-right: 3px;
}
.mrs,
.mhs,
.mas {
  margin-right: 5px;
}
.mrm,
.mhm,
.mam {
  margin-right: 10px;
}
.mrl,
.mhl,
.mal {
  margin-right: 20px;
}
.mbn,
.mvn,
.man {
  margin-bottom: 0px;
}
.mbx,
.mvx,
.max {
  margin-bottom: 3px;
}
.mbs,
.mvs,
.mas {
  margin-bottom: 5px;
}
.mbm,
.mvm,
.mam {
  margin-bottom: 10px;
}
.mbl,
.mvl,
.mal {
  margin-bottom: 20px;
}
.mln,
.mhn,
.man {
  margin-left: 0px;
}
.mlx,
.mhx,
.max {
  margin-left: 3px;
}
.mls,
.mhs,
.mas {
  margin-left: 5px;
}
.mlm,
.mhm,
.mam {
  margin-left: 10px;
}
.mll,
.mhl,
.mal {
  margin-left: 20px;
}
